.rent-history {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0;
    text-align: center;
}

.navbar-nav .nav-item a {
    font-weight: 600;
}

.navbar-nav .nav-item a:hover {
    font-weight: 700;
}