@media only screen and (max-width:576px) {
    .carousel-caption h1 {
        font-size: 18px;
    }

    .carousel-caption p {
        font-size: 12px;
    }
}

@media only screen and (min-width:992px) {
    .carousel-item img {
        width: 1300px;
        height: 600px;
    }
}