.welcome {
    width: 100%;
    background: black;
}

.header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.register-background {
    width: 100%;
    height: 150vh;
    background: url(../image/background/Background.avif) no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.container-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../image/background/a.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 300px;
    color: #e4e4e4;
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
}

.container-1 .reg-box {
    position: absolute;
    top: 0%;
    right: 0%;
    width: calc(100% - 58%);
    height: 100%;
}

.name {
    display: inline-flex;
    font-size: 70px;
}

.name h1 {
    font-size: 40px;
    font-family: 'Tangerine', serif;
    color: yellow;
}

.text-sci p {
    font-size: 16px;
    margin: 20px 0;
    text-align: justify;
}

.social-icons a i {
    color: #e4e4e4;
    font-size: 22px;
    margin-right: 35px;
    transition: 0.5 ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
    color: yellow;
}

.reg-box .form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
}

.reg-box .form-box.login {
    transform: translateX(0);
}

.form-box h1 {
    text-align: center;
    font-family: 'Aldrich', sans-serif;
    font-size: 35px;
    font-weight: 100;
}

.form-box .input-box {
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0%;
    font-size: 16px;
}

.form-box .remember-forgot {
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.form-box .remember-forgot a {
    color: yellow;
}

.remember-forgot label input {
    accent-color: #e4e4e4;
    margin-right: 3px;
}

.remember-forgot a {
    color: #e4e4e4;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn-register {
    width: 100%;
    height: 45px;
    background: #c4103d;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #e4e4e4;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-register:hover {
    background: transparent;
}

.form-box .login-register {
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a {
    color: #e4e4e4;
    font-weight: 600;
    color: yellow;
    text-decoration: none;
}

.login-register p a:hover {
    text-decoration: underline;
}

.input-box .type:focus {
    color: white;
    background-color: #c4103d;
}

/* Styles for tablets and larger screens */
@media only screen and (min-width: 991.98px) {

    .register-background {
        height: 135vh;
    }

    .container-1 {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 950px;
        background: url(../image/background/a.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        margin-top: 20px;
        color: #e4e4e4;
    }


    .container-1 .reg-box {
        position: absolute;
        top: 0%;
        right: 30%;
        width: calc(100% - 58%);
        height: 100%;
    }

    .input-box .type {
        font-size: 16px;
        color: #e4e4e4;
        font-weight: 500;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        text-align: right;
    }

}

@media only screen and (min-width: 479.98px) and (max-width: 991.98px) {

    .register-background {
        height: 100vh;
    }

    .container-1 {
        top: 20%;
        left: 50%;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        width: 50%;
        height: 85%;
    }

    .container-1 .reg-box {
        position: absolute;
        top: 0%;
        right: 29%;
        width: calc(100% - 58%);
        height: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .register-background {
        height: 150vh;
        width: 100%;
        background: url(../image/background/Background.avif) no-repeat;
        background-size: cover;
        background-position: center;
        filter: blur(5px);
    }

    .container-1 {
        top: 30%;
        border-radius: 10px;
        height: 150vh;
    }


    .container-1 .reg-box {
        height: 100%;
        width: 100%;
    }
}